<nav mat-tab-nav-bar [backgroundColor]="'primary'" xmlns="http://www.w3.org/1999/html">
    <div class="menu1">
        <div style="padding-top: 1em">
            <a mat-tab-link [routerLink]="['/dialogs/', linkType[linkType.all]]" routerLinkActive #rla="routerLinkActive"
               [routerLinkActiveOptions]="{ exact: true }" [active]="activeLink == linkType.all"
               (click)="activeLink = linkType.all">Все</a>
            <a mat-tab-link [routerLink]="['/dialogs/', linkType[linkType.opened]]" routerLinkActive #rla="routerLinkActive"
               [routerLinkActiveOptions]="{ exact: true }" [active]="activeLink == linkType.opened"
               (click)="activeLink = linkType.opened">Открытые</a>
            <a mat-tab-link [routerLink]="['/dialogs/', linkType[linkType.rejected]]" routerLinkActive #rla="routerLinkActive"
               [routerLinkActiveOptions]="{ exact: true }" [active]="activeLink == linkType.rejected"
               (click)="activeLink = linkType.rejected">Отклоненные</a>
            <a mat-tab-link [routerLink]="['/dialogs/', linkType[linkType.worked]]" routerLinkActive #rla="routerLinkActive"
               [routerLinkActiveOptions]="{ exact: true }" [active]="activeLink == linkType.worked"
               (click)="activeLink = linkType.worked">В работе</a>
            <a mat-tab-link [routerLink]="['/dialogs/', linkType[linkType.closed]]" routerLinkActive #rla="routerLinkActive"
               [routerLinkActiveOptions]="{ exact: true }" [active]="activeLink == linkType.closed"
               (click)="activeLink = linkType.closed">Закрытые</a>
            <a mat-tab-link [routerLink]="['/dialogs/', linkType[linkType.offline]]" routerLinkActive #rla="routerLinkActive"
               [routerLinkActiveOptions]="{ exact: true }" [active]="activeLink == linkType.offline"
               (click)="activeLink = linkType.offline">Офлайн</a>
        </div>
        <div>
            <button mat-flat-button class="dialog-filter-btn" (click)="dialogFilterOpen()">
                <mat-icon svgIcon="filter"></mat-icon>
                Фильтр
            </button>
        </div>
    </div>
</nav>
<div class="dialog-captions">
    <div class="dialog-number">№ Диалога</div>
    <div class="dialog-status">Статус</div>
    <div class="dialog-date-created">Дата открытия</div>
    <div class="dialog-date-closed">Дата закрытия</div>
    <div class="dialog-operator">Оператор</div>
    <div class="dialog-client">Клиент</div>
    <div class="dialog-actions"></div>
</div>
<mat-card *ngFor="let dialog of dialogs | async; index as i" tabindex="i" class="card">
    <mat-card-subtitle *ngIf="dialog.firstMessage">Сообщение: <span class="dialog-first-message">{{dialog.firstMessage}}</span></mat-card-subtitle>
    <mat-card-content>
        <div class="dialog-info-container">
            <div class="dialog-number">№{{dialog.number}}</div>
            <div class="dialog-status {{dialog | dialogStatus:'color'}}">{{dialog | dialogStatus}}</div>
            <div class="dialog-date-created">{{dialog.dateCreated | date }}</div>
            <div class="dialog-date-closed">{{dialog.dateCompleted | date}}</div>
            <div class="dialog-operator">{{dialog.operator ? dialog.operator.fio : 'Пусто'}}</div>
            <div class="dialog-client">{{dialog.client.fio}}<br>{{dialog.client.email}}, {{dialog.client.phone}}</div>
            <div class="dialog-actions">
                <div class="dialog-open">
                    <button mat-button (click)="openChat(dialog)">
                        <mat-icon svgIcon="res-chat"></mat-icon>
                    </button>
                </div>
                <div class="dialog-close">
                    <button mat-button class="rao-button" (click)="close(dialog)"
                            [disabled]="!checkStartOrActive(dialog.dialogStatus)">Закрыть</button>
                </div>
                <div class="dialog-close">
                    <button mat-button class="rao-button" (click)="reject(dialog)"
                            [disabled]="!checkStartOrActive(dialog.dialogStatus)">Отклонить</button>
                </div>
                <div class="dialog-work">
                    <button mat-button class="rao-button" (click)="activate(dialog)"
                            [disabled]="dialog.dialogStatus !== dialogStatus.Started">Взять в работу</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-paginator [length]="dialogCount" [pageSize]="dialogPageSize" [pageSizeOptions]="[10, 20, 30]" (page)="getPage($event)">

</mat-paginator>
