@use '../../common/styles/common'

.dialog-info-container
  display: flex

.dialog-actions
  display: flex
  width: 28%
  flex-direction: row-reverse

.dialog-number
  width: 7%

.dialog-status
  width: 7%

.dialog-status.active
  color: #6EB443

.dialog-status.inactive
  color: #333740

.dialog-status.offline
  color: #3757A1

.dialog-date-created
  width: 10%

.dialog-date-closed
  width: 10%

.dialog-operator
  width: 19%

.dialog-client
  width: 19%

.card
  margin:
    top: 1em
    bottom: 1em
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15)

.rao-button
  background: linear-gradient(180deg, #FFFFFF 0%, #FAFBFF 100%)
  border: 1px solid #D5DDED
  box-sizing: border-box
  border-radius: 3px
  width: 190px
  height: 50px
  margin:
    left: 5px
    right: 5px

.action-bar
  display: flex
  justify-content: space-between
  width: 100%

.dialog-captions
  width: 100%
  height: 50px
  align-items: center
  padding-top: 1em
  display: flex
  @include common.font-roboto(14px, 16px, )
  color: #9FA1B5

.dialog-first-message
  text-decoration: #9FA115 underline
  font-style: italic

.menu1
  display: flex
  justify-content: space-between
  width: 100%

.dialog-filter-btn
  background: linear-gradient(180deg, #4A76DB 0%, #4670C7 100%)
  border-radius: 3px
  width: 157px
  height: 50px
  margin-right: 5em
  margin-bottom: 1em
