.dialog-info-container
  display: flex

.dialog-actions
  display: flex
  width: 50%
  flex-direction: row-reverse

.dialog-number
  width: 6%

.dialog-status
  width: 5%

.dialog-status.active
  color: #6EB443

.dialog-status.inactive
  color: #333740

.dialog-status.offline
  color: #3757A1

.dialog-date-created
  width: 6%

.dialog-date-closed
  width: 6%

.dialog-client
  width: 27%

.card
  margin:
    top: 1em
    bottom: 1em
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15)

.rao-button
  background: linear-gradient(180deg, #FFFFFF 0%, #FAFBFF 100%)
  border: 1px solid #D5DDED
  box-sizing: border-box
  border-radius: 3px
  width: 190px
  height: 50px
  margin:
    left: 5px
    right: 5px

.action-bar
  display: flex
  justify-content: space-between
  width: 100%
