.main-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.main-left-side
  width: 250px
  height: 100%

.main-content-side
  background-color: #E5E5E5

.example-spacer
  flex: 1 1 auto

.ao-res-logo
  width: 65px
  height: 105px
  margin-left: calc(50% - 36px)
  margin-top: 32px

.main-menu
  margin-top: 100px

.nav-list-item
  display: flex

.side-nav-menu-caption
  text-transform: uppercase

.list-button
  margin-left: 50px

.arrow-container
  position: absolute
  width: 90%
  text-align: right

.res-menu-active-icon
  width: 14px
  height: 14px

.side-bottom-container
  position: absolute
  bottom: 10px
  width: 100%
