@use "../../common/styles/common"

.operator-message
  position: relative
  padding-right: 10px
  height: auto
  display: flex
  padding-top: 0px
  padding-bottom: 10px
  margin-top: 0px
  margin-bottom: 5px

.msg-left
  width: 70%
  display: inline-block
  background-color: #EDF3FF
  border-radius: 4px

.right-block
  width: 30%

.msg-status
  text-align: right
  color: #7E8999
  @include common.font-roboto(12px, 14px)

.operator-message.question-message
  flex-direction: row-reverse
  cursor: pointer

.msg-left.question-left
  width: 327px
  height: 45px
  background-color: #F7F8FA
  border: 1px solid #DADEE5
  box-sizing: border-box
  border-radius: 5px 5px 0px 5px
  display: flex
  justify-content: center
  align-items: center

.question-content
  @include common.font-roboto(14px, 140%)
  color: #3757A1
  text-align: center

.operator-message.button-message
  flex-direction: row-reverse
  cursor: pointer

.msg-left.button-left
  background: linear-gradient(0deg, #3757A1, #3757A1), linear-gradient(180deg, #FFFFFF 0%, #FAFBFF 100%)
  border-radius: 5px
  width: 60%
  height: 50px
  @include common.font-roboto(11px, 13px, 500)
  text-transform: uppercase
  color: #FFFFFF
  justify-content: center
  align-items: center
  display: flex

.right-block.button-right
  width: 40%

.close-session
  background-color: #3757A1
  height: 50px
  border-radius: 50px
  color: #FFFFFF
  @include common.font-roboto(11px, 13px, 500)
  display: flex
  justify-content: center
  align-items: center
  text-transform: uppercase
