<div class="operator-message" *ngIf="message.type == messageType.String">
  <div class="msg-left">
    <div [innerHTML]="message.content"></div>
    <div class="msg-status">
      <span>{{message.time | chatDate}}</span>
    </div>
  </div>
  <div class="right-block"></div>
</div>

<div class="operator-message question-message" *ngIf="message.type == messageType.Question" (click)="showQuestion()">
  <div class="msg-left question-left">
    <div>{{message.content}}</div>
  </div>
  <div class="right-block"></div>
</div>

<div class="operator-message button-message" *ngIf="message.type == messageType.ButtonForForm" (click)="fillAuthForm()">
  <div class="msg-left button-left">
    <div style="text-align: center; line-height: 1.5" [innerHTML]="message.content"></div>
  </div>
  <div class="right-block button-right"></div>
</div>

<div class="operator-message" *ngIf="message.type == messageType.CloseSession" style="justify-content: center; align-items: center">
  <div class="msg-left close-session">
    <div>{{message.content}}</div>
  </div>
</div>
