@use "../../common/styles/common"

.company
  position: absolute
  @include common.font-roboto(17px, 20px, bold)
  color: #FFFFFF
  padding:
    top: 27px
    left: 25px

.operators
  position: absolute
  right: 16px
  padding-top: 23px
  color: #6EB443
  @include common.font-roboto(15px, 28px)

.circle
  position: absolute
  border-radius: 3px
  background-color: #6EB443
  display: inline-block
  width: 7px
  height: 7px
  top: 34px
  right: -12px

.header-element
  position: absolute
  top: 0
  color: white
  cursor: pointer
  padding:
    left: 1em
    top: 1.6em

.question-icon
  width: 20px
  margin-right: 0.1em

.question-icon:hover
  width: 22px

.question
  left: -70px
