<h1 mat-dialog-title>
    {{action}} пользователя
</h1>
<div mat-dialog-content>
    <mat-horizontal-stepper linear #stepper xmlns="http://www.w3.org/1999/html">
        <mat-step [stepControl]="userEditStepGroup">
            <form [formGroup]="userEditStepGroup" (ngSubmit)="userInfoSave()">
                <ng-template matStepLabel>Общая информация</ng-template>
                <mat-form-field>
                    <mat-label>Фамилия Имя Отчество</mat-label>
                    <input matInput placeholder="Фамилия Имя Отчество" formControlName="fio" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Логин</mat-label>
                    <input matInput placeholder="Логин" formControlName="login" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Электронная почта</mat-label>
                    <input matInput placeholder="Электронная почта" formControlName="email" required />
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="!userInfoIsSubmit">Сохранить</button>
            </form>
            <div mat-dialog-actions>
                <button mat-button matStepperNext>Дальше</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="passwordGroup">
            <form [formGroup]="passwordGroup" (ngSubmit)="setPassword()">
                <ng-template matStepLabel>Установка пароля</ng-template>
                <mat-form-field>
                    <mat-label>Пароль</mat-label>
                    <input matInput placeholder="Пароль" formControlName="password" />
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="!isAllowSetPassword">Сохранить</button>
            </form>
            <div mat-dialog-actions>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Дальше</button>
            </div>
        </mat-step>
        <mat-step>
            <div>
                <ng-template matStepLabel>Установка ролей</ng-template>
                <div *ngFor="let role of roles | async">
                    <mat-checkbox (change)="roleChange(role, $event)" [checked]="role.setted">{{role.name}}</mat-checkbox>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <div class="close-form">
        <div class="close-form-space"></div>
        <div class="close-form-btn">
            <button mat-button color="primary" (click)="closeDialog()">Закрыть</button>
        </div>
    </div>
</div>
