<main-questions-header (close)="closePage()">
</main-questions-header>

<div>
  <div class="main-questions-block">
    {{salam1 | async}}
  </div>
  <div class="main-questions-block search">
    <div
      #searchEditor
      [contentEditable]="true"
      class="main-questions-block-search"
      (keypress)="enter($event)"
      (input)="inputSearchQuery($event.target)"
      (keydown.enter)="onKeydownEnter($event)"
    ></div>
    <div class="search-icon" (click)="searchQuestionClick()">
      <img src="assets/search.svg"/>
    </div>
<!--    <div class="search-autocomplete" *ngIf="isSearchQueryInput"></div>-->
  </div>
  <div class="main-questions-block elements" *ngIf="!isSearchQueryInput">
    <first-questions *ngFor="let question of questions | async" [question]="question" (select)="selectQuestion($event)"></first-questions>
  </div>
  <div class="main-questions-block" *ngIf="isSearchQueryInput" style="padding-top: 0">
    <search-questions [searchQuery]="data.searchQuery"></search-questions>
  </div>
</div>
