<!--<div class="curtain"></div>-->
<nav mat-tab-nav-bar [backgroundColor]="'primary'">
    <div class="action-bar">
        <div></div>
        <div>
            <button mat-button class="add-question-btn" (click)="openEditQuestionDialog(undefined)">Добавить вопрос/ответ</button>
        </div>
    </div>
</nav>

<div class="questions-list">
    <div class="questions-title">
        <div style="width: 12%">№ Вопроса</div>
        <div>Вопрос/Ответ</div>
    </div>
    <mat-card *ngFor="let question of questions | async" class="card-question">
        <mat-dialog-content>
            <div class="question-info-container">
                <div class="question-number">
                    {{question.number}}
                </div>
                <div class="question-info">
                    <div class="question-question">
                        <div style="width: 10%">Вопрос:</div>
                        <div>
                            {{question.question}}
                        </div>
                    </div>
                    <div class="question-response">
                        <div style="width: 10%">Ответ:</div>
                        <div>
                            {{question.response}}
                        </div>
                    </div>
                </div>
                <div class="question-actions">
                    <div class="question-edit">
                        <button class="question-edit-btn" (click)="questionEdit(question)">Редактировать</button>
                    </div>
                    <div class="question-delete">
                        <button class="question-delete-btn" (click)="questionDelete(question)">Удалить</button>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
    </mat-card>
</div>
