<!--<div class="curtain"></div>-->
<nav mat-tab-nav-bar [backgroundColor]="'primary'">
    <div class="action-bar">
        <div></div>
        <div>
        </div>
    </div>
</nav>

<div class="questions-list">
    <div class="questions-title">
        <div style="width:6em">№ п/п</div>
        <div>Вопрос/Ответ</div>
    </div>
    <question-element *ngFor="let question of questions | async"
                      [question]="question"
                      (responseEditEvent)="questionEdit($event)"
                      (questionDeleteEvent)="questionDelete($event)"
                      (goToChildEvent)="goToChild($event)"
                      (saveQuestionEvent)="saveQuestion($event)"
    ></question-element>
</div>
<button mat-button class="add-question-btn" (click)="addNewQuestion()">
    <div style="display: flex">
        <mat-icon style="color: #519E36">add</mat-icon>
        <span style="padding-top: 5px">Добавить вопрос</span>
    </div>
</button>

