@import ../../common/styles/variables

.chatbot-button
  position: fixed
  bottom: 10px
  right: 10px
  max-width: $chat-bot-button-radius
  max-height: $chat-bot-button-radius
  min-width: $chat-bot-button-radius
  min-height: $chat-bot-button-radius
  border: 1px solid black
  border-radius: ($chat-bot-button-radius * 1.45) / 3.14
  cursor: pointer


