@import ../../common/styles/variables

.chatbot-button
  position: fixed
  bottom: 10px
  right: 10px
  max-width: $chat-bot-button-width
  min-width: $chat-bot-button-width
  max-height: $chat-bot-button-height
  min-height: $chat-bot-button-height
  border-radius: ($chat-bot-button-height * 1.45) / 3.14
  cursor: pointer
  background-color: #E52D2E
  box-shadow: 0 0 10px #E52D2E
  user-select: none

.btn-text
  position: absolute
  top: 50%
  left: 50%
  margin-top: 9%
  margin-left: -25%
  color: #fff
  font-family: Open Sans
  font-style: normal
  font-weight: bold
  font-size: 13px
  line-height: 18px

.text-open-icon
  width: 29px
  position: absolute
  right: -29px
  color: #E52D2E

.text-close-icon
  width: 16px
  position: absolute
  right: -21px
  color: #E52D2E
  top: 2px
