<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="True"
      internalLogLevel="Trace" internalLogFile="d:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}" archiveEvery="Day"/>
    <target xsi:type="File" name="dbs" fileName="${basedir}/logs/dbs_messhandlers_${shortdate}.log" archiveEvery="Day"/>
    <target xsi:type="File" name="dbs_error" fileName="${basedir}/logs/dbs_error_${shortdate}.log" layout="${longdate} ${exception:format=toString,stacktrace:innerFormat=toString,stacktrace:maxInnerExceptionLevel=10}"  archiveEvery="Day"/>  
  </targets>

  <rules>
    
    <!--    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"-->
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="DataBusService" minlevel="Trace" maxlevel="Warn" writeTo="dbs" />
    <logger name="*" minlevel="Error" writeTo="dbs_error" />

  </rules>
</nlog>
