<div class="select-container">
    <div class="select-value-container">
        <div class="select-value">
            {{selectedItem}}
        </div>
        <div class="select-open" (click)="isOpen = !isOpen">
            <img src="assets/arrow_down.svg" *ngIf="!isOpen"/>
            <img src="assets/arrow_up.svg" *ngIf="isOpen"/>
        </div>
    </div>
    <div class="select-items-container" *ngIf="isOpen">`
        <div *ngFor="let item of items" class="select-value-item" (click)="selectItem(item)">{{item}}</div>
    </div>
</div>
