<chat-header (openQuestions)="onOpenQuestions()"></chat-header>
<div class="form-container">
  <div style="justify-content: center; align-items: center; display: flex; width: 100%" *ngIf="!(isShift | async)">
    <span *ngIf="emailIsNotValid">Оператор ответит Вам в рабочее время</span>
  </div>
  <div class="form-input-container">
    <div
      #fioEditor
      contenteditable="true"
      class="form-input fio editable-placeholder"
      placeholder="Укажите ФИО"
      [ngClass]="{'placeholder-active': fio === ''}"
      (keypress)="fioEnter($event)"
      (input)="fioInput($event.target)"
      (keydown.enter)="fioOnKeydownEnter($event)"
    ></div>
  </div>
  <div>
    <div style="justify-content: center; align-items: center; display: flex; width: 100%">
      <span style="color: #E52D2E" *ngIf="emailIsNotValid">Не верный формат email</span>
    </div>
    <div class="form-input-container">
      <div
        #emailEditor
        contenteditable="true"
        class="form-input editable-placeholder"
        placeholder="Укажите свой email"
        [ngClass]="{'placeholder-active': email === ''}"
        (keypress)="emailEnter($event)"
        (input)="emailInput($event.target)"
        (keydown.enter)="emailOnKeydownEnter($event)"
      ></div>
    </div>
  </div>
  <div>
    <div style="justify-content: center; align-items: center; display: flex; width: 100%">
      <span style="color: #E52D2E" *ngIf="phoneIsNotValid">Не верный формат номера телефона</span>
    </div>
    <div class="form-input-container">
      <input
        [imask]="{mask: '{+7(}000{)} 000{-}00{-}00', placeholder: '_'}"
        [unmask]="true"
        (accept)="onPhoneAccept($event)"
        (complete)="onPhoneComplete($event)"
        placeholder="Укажите свой телефон"
        class="form-input"
        [(ngModel)]="phone"
        style="padding-top: 0"
      />
    </div>
  </div>
  <div class="form-input-container" *ngIf="!(isShift | async)">
    <div
      #messageEditor
      contenteditable="true"
      class="form-input msg editable-placeholder"
      placeholder="Укажите свой вопрос"
      [ngClass]="{'placeholder-active': message === ''}"
      (keypress)="messageEnter($event)"
      (input)="messageInput($event.target)"
      (keydown.enter)="messageOnKeydownEnter($event)"
    ></div>
  </div>
  <div class="form-input-container" (click)="sendData()">
    <div class="form-submit">
      <span>{{!(isShift | async) ? 'Отправить сообщение' : 'Начать чат с оператором'}}</span>
    </div>
  </div>
</div>
