<div class="filter-container">
    <div class="filter-value-container">
        <input
            #editor
            class="filter-value editor editableDiv2"
            contenteditable="true"
            [attr.placeholder]="placeholder"
            [ngClass]="{'placeholder-active': isPlaceholder}"
            (blur)="setFilter($event)"
            [(ngModel)]="filter"
        />
        <div class="filter-open" style="border-left: 0">
            <img src="assets/lens.svg"/>
        </div>
    </div>
</div>
