<questions-header [responsePreset]="isShowBack" (close)="closePage()"></questions-header>
<div>
  <div class="main-container questions-container" *ngIf="!responsePresent">
    <div *ngFor="let question of questions" class="question-container">
      <div>
        <img src="assets/document.svg" class="document-svg"/>
      </div>
      <div class="question-question-container">
        <span class="question-question" (click)="showQuestions(question)">{{question.question}}</span>
      </div>
    </div>
  </div>
  <chat-editor></chat-editor>
</div>

<div *ngIf="responsePresent" class="main-container response-container">
  <p class="response-header">
    {{selectedQuestion.question}}
  </p>
  <p class="response-body">
    {{selectedQuestion.response}}
  </p>
</div>
