<base-chat-header>
  <div class="header-container">
    <div *ngIf="isShowBack()">
      <div (click)="getBackQuestions()" class="header-element header-message back-btn"><img src="assets/left_arrow.svg"/> &nbsp; Назад</div>
    </div>

    <div class="header-element header-message">ЧАТ БОТ АО РЭС</div>

    <div class="close-container">
      <span class="close-btn" (click)="closePage()"><img src="assets/cross.svg" class="header-element close-icon"/></span>
    </div>
  </div>
</base-chat-header>
