<h1 mat-dialog-title>Вопросы/Ответы</h1>
<div mat-dialog-content>
    <mat-horizontal-stepper linear #stepper xmlns="http://www.w3.org/1999/html">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Заполните вопрос и ответ</ng-template>
                <mat-form-field style="width: 100%">
                    <mat-label>Вопрос</mat-label>
                    <input matInput placeholder="Введите вопрос" formControlName="questionCtrl" required/>
                </mat-form-field>
                <br/>
                <mat-form-field style="width: 100%; height: 400px">
                    <mat-label>Ответ</mat-label>
                    <textarea
                            matInput
                            formControlName="responseCtrl"
                            required
                    >

                    </textarea>
                </mat-form-field>
                <div mat-dialog-actions>
                    <button mat-button (click)="saveQuestion()">Сохранить</button>
                    <button mat-button (click)="no()">Отмена</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
